$home-bg-img: url('../images/photo-1530543787849-128d94430c6b.jpeg');
$random-bg-img: url('../images/photo-1533628635777-112b2239b1c7.jpeg');

@mixin border-list {
  border-width: 2px;
  border-color: lineargradient(#333, #000);
  border-radius: 15px;
}

.home-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: $home-bg-img;
  background-attachment: fixed;

  .header {
    color: #9f8189;
  }
  .btn-container {
    margin-top: 50px;
  }
}
.random {
  .random-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: $random-bg-img;
    background-attachment: scroll;
  }
  .random-img {
    overflow: hidden;
    height: 60vh;
    img {
      @include border-list;
    }
  }
  .random-btn {
    width: 15vh;
    height: 15vh;
    @include border-list;
  }
  .nav {
    .nav-link {
      font-size: 25px;
    }
  }
  .logout-btn {
    float: right;
    top: 0;
    right: 0;
  }
}
@import '~bootstrap/scss/bootstrap';
