$bg-img: url('../images/photo-1530543787849-128d94430c6b.jpeg');
.home-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: $bg-img;
  background-attachment: fixed;
}
.header {
  color: #9f8189;
}
.btn-container {
  margin-top: 50px;
}
@import '~bootstrap/scss/bootstrap';
